summ-web<=0.1.0
summ-logging<=0.1.0
pigeon-core<=0.1.0
slack-sdk==3.5.0
Flask # version managed by summ-web
Flask-RESTful # version managed by summ-web
Flask-SQLAlchemy # version managed by summ-web
Flask-Cors # version managed by summ-web
webargs # version managed by summ-web
